div
	each value in carrers
		span Licenciatura
		h1= value.name
		each person,index in value.graduates
			img(src="assets/images/" + value.folder + "/image-" + `${index+1}` + ".gif", alt="Foto " + person)
			h4= person
		img(src="assets/images/directores/"+value.picdirector+".png", alt="")
		p= value.quote
		h5= value.director
		if value.female
			p Directora de la Carrera
		else
			p Director de la Carrera