mixin carrer(carrers)
	.flex-item
		each value in carrers
			.flex-header
				p Licenciatura
				h3= value.name
			.flex-content
				.flex-graduated
					button(class="prev-"+`${value.folder}` ,aria-label="Anterior"): i.fas.fa-chevron-left
					div(class='carousel-'+`${value.folder}`)
						each person,index in value.graduates
							.carousel-item
								img(src="assets/images/" + value.folder + "/" + `${index+1}` + ".png", alt="Foto " + person)
								h4= person
					button(class="next-"+`${value.folder}` ,aria-label="Siguiente"): i.fas.fa-chevron-right
				.flex-director
					img(src="assets/images/directores/"+value.picdirector+".png", alt="")
					p.quote= `"${value.quote}"`
					h5= value.director
					if value.female
						p.director Directora de la Carrera
					else
						p.director Director de la Carrera